@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
:root {
  --main-bg-color: #22222a;
  --sub-message-color: #6e75dd;
  --sub-side-color: #000000;
  --sub-date-color: #54545e;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color);
  position: relative;
}

#message-container {
  max-width: 480px;
  width: 100%;
  height: 100vh;
  position: relative;
}

#title,
#input-field {
  position: fixed;
  max-width: 480px;
  width: 100%;
  height: 60px;
  background-color: var(--sub-side-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#title {
  top: 0;
  color: white;
  font-size: 20px;
}

#input-field {
  bottom: 0;
  color: var(--sub-date-color);
  font-size: 14px;
}

.user-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid var(--sub-date-color);
  padding: 8px;
  border-radius: 20px;
}

.push-button {
  width: 25px;
  height: 25px;
  color: white;
  background-color: var(--sub-message-color);
  border-radius: 50%;
  border: none;
}

#messages {
  padding: 60px 0;
}

li {
  list-style: none;
}

#messages li {
  margin: 16px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.name {
  color: white;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 6px;
}

.artist-message {
  display: flex;
  align-items: flex-end;
}
.artist-message .content {
  color: white;
  font-size: 14px;
  background-color: var(--sub-message-color);
  padding: 8px 16px;
  border-radius: 20px;
  width: fit-content;
  margin-left: 46px;
}

.artist-message .date,
.artist-message .time {
  display: inline-block;
  color: var(--sub-date-color);
  font-size: 10px;
}

.artist-message .date {
  margin-left: 4px;
}

.artist-message .time {
  margin-left: 2px;
}

.message-date {
  color: white;
  background-color: var(--sub-side-color);
  width: 50%;
  text-align: center;
  padding: 4px;
  font-size: 14px;
  border-radius: 20px;
  margin: 20px auto;
}

.message-photo {
  width: 120px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  margin-left: 46px;
}

#landing,
#selectMonth {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 480px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

#landing {
  z-index: 3;
}

#landing p,
#selectMonth p {
  color: white;
  font-weight: bold;
  margin-bottom: 8px;
}

#landing input {
  border: none;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--sub-date-color);
  margin: 16px 0;
  color: white;
}

#landing button {
  border: none;
  color: white;
  background-color: var(--sub-message-color);
  padding: 8px 12px;
  border-radius: 8px;
}

#landing img {
  width: 120px;
  margin-bottom: 80px;
}

#selectMonth {
  z-index: 2;
}

a {
  text-decoration: none;
  color: white;
}

.date-list-elem {
  color: var(--sub-date-color);
  width: 240px;
  margin: 8px;
  padding: 4px;
  text-align: center;
  border: 1px solid var(--sub-date-color);
}

.date-list-elem:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#selectDay {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: fixed;
  top: 70px;
  margin-left: 280px;
  display: none;
  width: 200px;
  height: fit-content;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.arrow,
.calendar {
  display: inline-block;
  width: 30px;
  text-align: center;
  cursor: pointer;
}

#dayList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 20px;
}

#selectDay p {
  display: block;
  margin-top: 20px;
}

#dayList li {
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}

#dayList li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
